@model NeoDataLayer.DomainModel.User

<div class="container">
    <div>
        <h1>Welcome to the auction portal   @Html.DisplayFor(modelItem => Model.name)</h1>
    </div>
    <form>
        <h3>You can log in like an user or an organizer.</h3>
    </form>
</div>

