
<div class="jumbotron">
    <h1>WELCOME TO THE AUCTIONS</h1>
    <p class="lead">AUCTIONS is a Web application where you can attend in different types of auctions like user, or you can organize some for free like organizer.</p>
    <p>Good luck!</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Choose your activity, create account like an organizer or user. Use that account for more fun.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more informations for organizer</h2>
        <p>Auctions is a web application where you can create auctions, add subjects for specific auction. You can set date until when auction lasts.</p>
    </div>
    <div class="col-md-4">
        <h2>Get more informations for user</h2>
        <p>You can search for different subjects in some auction and you can licitate for it and with a bit of luck you can buy it.</p>
    </div>
</div>
