
@{
    ViewBag.Title = "MakePurchase";
}

<h2>Make Purchase</h2>

<h3 class="alert-success">You successfully make purchase!</h3>

<div>
    @Html.ActionLink("Back to previous page", "AuctionPortal", "Home")
</div>

